@charset "UTF-8";

/*

tan: #FFECCA
green: #1A8663
pink: #F8B0A5
blue: #187CBA

darker pink: E5998E
#31452e

*/

body{

	font-size:1rem;
  background-color: #1A8663;

}

.caseStudy{
	background-color: #f8f2e8
}

a{
    color: inherit;
}

/*------ type ------*/

h2{
    font-family: "freight-display-pro", sans-serif;
}

h3{
    font-family: "Asul", sans-serif;
    font-size: 55px;
    color: #E5998E;
    line-height: 1.2;

}

h4{
    font-family: 'Almendra', serif;
    font-size: 18px;
    color: #E5998E;
    padding-bottom: 3px;

}

h5{
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    color: #4E4848;
    line-height: 1.5;

}

.port_Label{
    font-family: 'Miriam Libre', sans-serif;
    font-size: 14px;
    padding: 0px
}

.heading{
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 18px;
    padding-bottom: 3px;
}

li{
    text-decoration: none;
}

.introText{
    font-family: 'Asul', sans-serif;
    font-size: 55px;
    color: #FFECCA;
    margin: 0px;
		line-height: 1.3;
}

.miniRes{
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	color: #FFECCA;
}

.miniRes p {
	margin-bottom: 30px;
}

.miniRes a {
	font-family: "Asul", sans-serif;
	font-weight: 700;

}

.miniRes a:hover {
	font-family: "Asul", sans-serif;
	font-weight: 700;
	color: #F8B0A5;
}

.introText a:hover {
	color: #F8B0A5;
}

.homeText{
    font-family: 'Almendra', serif;
    font-size: 18px;
    color: #F8B0A5;
    margin: 0px;
    line-height: 1.7;
}

.teaserText{
	font-family: 'Asul', sans-serif;
	font-size: 50px;
	color: #FFECCA;
	z-index: 1;
}

.teaserText .bold{
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
}

.labelText{
    font-family: "Almendra", sans-serif;
		color: #F8B0A5;
    font-size: 18px;
}

/*------ navbar ------*/

.navSpace{
  padding-top: 50px;
	padding-bottom: 20px;
}


.nav{
    font-family: "Almendra", sans-serif;
		color: #F8B0A5;
    font-size: 18px;
}


.nav > li > a {
    padding: 0px;
    vertical-align: top;
    display: inline;

}

.Play{
    color: #35BDC0;
    line-height: 1.7;

}

a:hover{
    text-decoration: none;
}


.nav > li > a:hover{
    background-color: transparent;
}

.nav.navSmall{
    font-family: 'Miriam Libre', sans-serif;
    font-size: 15px;
    text-decoration: none;
    list-style-type:none;

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

}
/*------ home sections ----*/

.pointer{
	width: 80px;
	margin-left: 20px;
}

.overlay-1 {
	margin: -250px 0 0 0;
	width: 450px;
	filter: grayscale(100%);
	opacity: .3;
}

.ask {
	width: 250px;
	margin: -250px 0 0 0;
	opacity: 0;
}

.homeTeaser:hover .ask{
	opacity: 1;
}

.homeTeaser:hover .overlay-1{
	filter:grayscale(0%);
	opacity: 1;
	z-index: 100;
}

.homeTeaser:hover .teaserText{
	z-index: 0;
}

.overlay-2{
	margin: -250px 0 0 0;
	width: 350px;
	filter: grayscale(100%);
	opacity: .3;
}

.homeTeaser:hover .overlay-2{
	filter:grayscale(0%);
	opacity: 1;
	z-index: 100;
}

.clientCallout{
	background-color: #FFECCA;
	padding: 75px 100px 75px 100px;
	margin-bottom: 100px;
}

.clientCallout .labelText{
	color: #F8B0A5;
}

.clientText{
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	font-size: 60px;
	color: #F8B0A5;
}

/*------ grid ------*/

.space{
	margin-top:60px;
}

.space-lg{
    margin-top:80px;
}

.space-sm{
    margin-top:20px;
}


.newRow{
	margin-top:30px;
}

/* padding for section */

.contain {
    object-fit: contain;


}

.imgLeft{
	width:100%;
}

.grey{
	background-color: #ccc;
}

.box{
	height: 250px;
	background-color:#6A6969;
}

.top{
	margin-bottom: 100px;
}

/*------ Icon ------*/

.icon-container{
    display: flex;

}

/*------ hover ------*/

/* generic css */

.view{
     display: flex;
    align-items: center;
}

.view .mask {
    max-width: 100%;
	position:absolute;
 	left: 0px;
	right:0px;
    bottom: 0px;
	margin: 0 15px;
    overflow: hidden;

}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .view{
        display: inline;
    }
}



.mask{
    padding: 0px 15px;
    height:0px;

}

.view p {
    font-size: 14px;
    position: relative;
    color: #000;
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}

/*1*/

.view-first:hover .mask {
    opacity: 100;
    background-color: #CAE9BF;
    padding: 15px;
    height: 75px;
    transition: all 0.2s ease-in-out;

}

.view-first h2 {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
/*.view-first p {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}*/
.view-first a.info{
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

/* */



.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}

/*------ pages ------*/

.headerText{
	font-weight:700;
	font-size: 2.5rem;

}

/*----- TABLET -----*/
@media only screen and (min-width: 767px) and (max-width: 1023px) {


.introText {
    font-size: 45px;
}

.teaserText {
    font-size: 35px;
}

.overlay-1 {
	margin: -200px 0 0 0;
	width: 350px;
}

.ask {
	width: 200px;
	margin: -250px 0 0 0;
}

.overlay-2{
	margin: -200px 0 0 0;
	width: 270px;
}

.space-resp{
    padding-top: 20px;
}

.clientCallout{
	background-color: #FFECCA;
	padding: 75px 100px 75px 100px;
	margin-bottom: 100px;
}

.clientText{
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	font-size: 40px;
	color: #F8B0A5;
}

}

/*----- Mobile -----*/
@media only screen and (max-width: 767px) {

h3{
    font-size: 23px;
    line-height: 1.2;

}

.introText{
	font-size: 30px;
}

.teaserText{
	font-size: 25px;
}

.overlay-1 {
	margin: -150px 0 0 0;
	width: 250px;
}

.ask {
	width: 150px;
	margin: -200px 0 0 0;
}

.overlay-2{
	margin: -150px 0 0 0;
	width: 200px;
}

.space-lg{
	margin-top: 40px;
}

h4, h5{
    font-size: 15px;
}


.nav {
    font-size: 18px;
}

.navSpace{
    height: 120px;
}

.space{
    margin-top:40px;

}

.space-sm{
    margin-top: 20px;

}

.last{
    margin-top: 40px;
}

.space-sm{
    margin-top: 10px;
}

.clientText{
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	font-size: 20px;
	color: #F8B0A5;
}

.clientCallout{
	background-color: #FFECCA;
	padding: 50px 40px;
	margin-bottom: 100px;
}





}
